/* Add in the fonts */
@font-face {
  font-family: "Fanwood";
  src: url("/fonts/Fanwood_Text/FanwoodText-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/Indie_Flower/IndieFlower-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  src: url("/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf") format("truetype");
}

/* Universal Styles */
html {
  font-family: "Josefin", sans-serif;
  font-size: 18px;
  background-color: #CCD5AE;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Fanwood", Calibri, serif;
  font-size: 70px;
  text-align: center;
  color: #D4A373;
  text-shadow: 2px 2px #CCD5AE;
  background-color: #E9EDC9;
}

h2 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: #D4A373;
  text-shadow: 2px 2px #FAEDCD;
  text-align: center;
}

article {
  border: 3px solid #D4A373;
  margin: 2rem;
  padding: 0 2.5rem;
  background-color: #FEFAE0;
}

@media only screen and (max-width: 500px) {
  article {
    font-size: 1.11rem;
  }
}

/* Navbar */
nav {
  position: sticky;
  top: 0;
  background-color: #D4A373;
  z-index: 100;
}

nav ul {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

nav ul li {
  text-align: center;
  list-style-type: none;
}

nav a {
  display: inline-block;
  color: #FEFAE0;
  font-size: 1.8rem;
  text-decoration: none;
  padding: 0.5rem 0;
}

nav a:hover {
  color: #D4A373;
  background-color: #FEFAE0;
}

@media only screen and (max-width: 500px) {
  nav a {
    font-size: 1.5rem;
  }
}

/* About Section */
#about-content {
  display: grid;
  grid-template-columns: 35% 65%;
  column-gap: 1rem;
  align-items: center;
}

#about-content img {
  max-width: 100%;
}

@media only screen and (max-width: 900px) {
  #about-content {
    display: block;
  }

  #nature1 {
    position: absolute;
    visibility: hidden;
  }

  #right-side {
    position: relative;
  }
}

@media only screen and (max-width: 500px) {
  #about {
    background-image: url("images/nature3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  #about-content {
    display: block;
  }
  
  #about-content img {
    position: absolute;
    visibility: hidden;
  }
  
  #about-content span {
    position: relative;
    color: #FEFAE0;
    opacity: 100%;
  }


}

/* Sign-up Section */
#sign-up {
  text-align: center;
  background-image: url("images/nature3.jpg");
}

#sign-up-content {
  width: 20rem;
  height: 16rem;
  background-color: #FEFAE0;
  margin: auto;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sign-up-content p {
  font-family: "Indie Flower", cursive;
  font-size: 2rem;
}

#sign-up-content button {
  background-color: #D4A373;
  color: #FEFAE0;
  font-size: 2rem;
  width: 90%;
  height: 20%;
}

@media only screen and (max-width: 550px) {
  #sign-up-content {
    width: 95%;
  }

  #sign-up-content button {
    font-size: 1.5rem;
  }
}

/* Activities Section */
#activity-showcase {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 37rem;
  height: 28rem;
  background-color: #FAEDCD;
  border: 3px solid #D4A373;
  margin: 1rem;
}

.activity img {
  position: relative;
  width: 35rem;
  height: 25 rem;
}

.activity .caption {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 900px) {
  .activity {
    width: 23rem;
    height: 18rem;
    margin: 0.5rem;
  }

  .activity img {
    width: 21rem;
    height: 15rem;
  }
}

@media only screen and (max-width: 600px) {
  .activity {
    width: 16rem;
    height: 13rem;
  }

  .activity img {
    width: 14rem;
    height: 10rem;
  }
}

@media only screen and (max-width: 500px) {
  .activity {
    width: 14rem;
    height: 12rem;
  }

  .activity img {
    width: 12rem;
    height: 8.55rem;
  }
}